@import "tailwindcss";

:root {
  --background: #DDD9FF;
  --foreground: #ffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #DDD9FF;
    --foreground: #ffff;
  }
}
@keyframes rotating-text{
  0%{
    transform: translateY(-8px);
  }
  25%{
    transform: translateY(-60px);
  }
  50%{
    transform: translateY(-112px);
  }
  75%{
    transform: translateY(-164px);
    opacity: 100;
  }
  76%{
    opacity: 0;
  }
  90%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(-8px);
    opacity: 100;
  }
}
.rotate-text {
  transition: all;
  animation: rotating-text 5s ease-in-out infinite;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.bgc-clip{
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .72), #fff);
}
.bg-clip {
    clip-path: polygon(0 0, 70px 0, 100% 100%, 100% 100%, 0 100%, 0 50%);
}
.bg-anim{
  transition: color;
  animation: bg-animate 1s linear infinite;
}